Repository QuentinDess/phpaladin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write src, eslint --fix src

🧑‍💻 Separte prettier and eslint both fix and add update to git
  .lintstagedrc
Due: none

test : auto fix and commit some error
  src/index.ts
Due: prettier --write src, eslint --fix src

wip: check linter
  src/index.ts
Due: prettier --write src, eslint --fix src

feat: add better error handling in case of no stream
  src/index.ts
Due: prettier --write src, eslint --fix src

🏗️ Init clean archi with ioc and inversify package
  Dockerfile
  docker-compose-dev.yaml
  docker-compose.yaml
  eslint.config.js
  package-lock.json
  package.json
  src/app.ts
  src/domain/shared/service/IEventRouter.ts
  src/domain/shared/service/IGithubEventAdapter.ts
  src/index.ts
  src/infrastructure/shared/ioc/Kernel.ts
  src/infrastructure/shared/ioc/types.ts
  src/infrastructure/shared/service/EventRouter.ts
  src/infrastructure/shared/service/ProbotEventAdapter.ts
  src/main.ts
  tsconfig.json
Due: prettier --write src, eslint --fix src

dependencies: change nodemon to tsx
  Dockerfile
  bootstrap.js
  nodemon.json
  package-lock.json
  package.json
  src/app.ts
  src/domain/shared/service/IEventRouter.ts
  src/infrastructure/shared/ioc/Kernel.ts
  src/infrastructure/shared/service/EventRouter.ts
  src/main.ts
Due: prettier --write src, eslint --fix src

🏗️ Implement example use case for clean archi
  src/app.ts
  src/application/GenerateRandomWorld/GenerateRandomWorldUseCase.ts
  src/application/GenerateRandomWorld/IGenerateRandomWordDtoInput.ts
  src/application/GenerateRandomWorld/IGenerateRandomWordDtoOutput.ts
  src/application/IUseCase.ts
  src/domain/entity/container/IContainerConfig.ts
  src/domain/entity/container/IContainerResult.ts
  src/domain/service/IContainerRunnerService.ts
  src/domain/service/IEventRouter.ts
  src/domain/service/IGithubEventAdapter.ts
  src/domain/shared/service/IEventRouter.ts
  src/infrastructure/ioc/Kernel.ts
  src/infrastructure/ioc/types.ts
  src/infrastructure/service/DockerodeContainerService.ts
  src/infrastructure/service/EventRouter.ts
  src/infrastructure/service/GithubContextAdapter.ts
  src/infrastructure/service/ProbotEventAdapter.ts
  src/infrastructure/shared/ioc/Kernel.ts
  src/infrastructure/shared/service/EventRouter.ts
  src/presentation/controller/IssueOpenController.ts
Due: prettier --write src, eslint --fix src

✨ Create PullRequestOpenController and JobOrchestratorUseCase
  src/application/Github/IGithubContextDtoInput.ts
  src/application/JobOrchestrator/IJobAnalasysOutput.ts
  src/application/JobOrchestrator/JobOrchestratorUseCase.ts
  src/infrastructure/ioc/Kernel.ts
  src/infrastructure/service/EventRouter.ts
  src/presentation/controller/PullRequestOpenController.ts
Due: prettier --write src, eslint --fix src

✨ Update GithubContextDtoBuilder with type inheritance
  src/application/GenerateRandomWorld/GenerateRandomWorldUseCase.ts
  src/application/GenerateRandomWorld/IGenerateRandomWordDtoInput.ts
  src/application/GenerateRandomWorld/IGenerateRandomWordDtoOutput.ts
  src/application/Github/GithubDto.ts
  src/application/Github/IGithubContextDtoInput.ts
  src/application/JobOrchestrator/IJobOrchestratorInput.ts
  src/application/JobOrchestrator/JobOrchestratorUseCase.ts
  src/infrastructure/ioc/Kernel.ts
  src/infrastructure/service/EventRouter.ts
  src/infrastructure/service/GithubContextAdapter.ts
  src/presentation/controller/IssueOpenController.ts
  src/presentation/controller/PullRequestOpenController.ts
Due: prettier --write src, eslint --fix src

Create 001-adopt-clean-architecture.md
  docs/adr/001-adopt-clean-architecture.md
Due: prettier --write src

Path conditions:
  prettier --write src: any of: *.{js,ts,json,md}
  eslint --fix src: any of: *.{js,ts}
